:root{
	--background-blue: #3F51B5;
	--color-title-text: #FFFFFF;
	--button-color: #00F3BB;
	--button-colot-text: #000;
}
* {
	padding: 0;
	margin: 0;
}
header, footer{
	padding: 1em 2em;
}
.logo, .menu, .copyright, .redes{
	display: inline-block;
}
.menu, .redes{
	float: right;
}
li{
	list-style: none;
	display: inline-block;
	margin: 0 .5em;
}
.title{
	padding: 2em 11em;
}
.title > p{
	width: 50%;
}
.title > a, .novedades > a{
	padding: 1em;
    margin: 1em 0;
    background-color: var(--button-color);
    display: inline-block;
    text-decoration: none;
    color: var(--button-colot-text);
}
.episodios{
	clip-path: polygon(100% 0%, 100% 15%, 100% 85%, 0 100%, 0% 85%, 0% 15%);
	padding: 15% 0;
}
.episodios, .novedades{
	background-color: var(--background-blue);
	background-image: linear-gradient(to bottom left, #0000FF, #0000A3 50%, #0000A3 50%, #0000A3);

}
.episodios > h3, .novedades > h3{
	color: var(--color-title-text);
	padding: 0em 5em;
    font-size: 2em;
}
.md-6{
	width: 40%;
    display: inline-block;
    padding: 1% 4%;
}
.md-6 > img{
	width: 100%;
}
.img-hidden{
	display: none;
}

.qsomos{
	padding: 0em 9em;
}
.qsomos > div{
	display: inline-block;
	/*position: relative;
    top: -10em;*/
    vertical-align: middle
}
.img-phone{
	height: 50em;
}
.img-phone>img{
	position: relative;
    top: -10em;
    height: 60em;
}
.text-qsomos{
	width: 30%
}
.text-qsomos > h3{
	font-size: 2.5em;
	padding: 0.2em 0;
}
.invitados>h3, .temas>h3{
	margin: 1em 3em;
    font-size: 2.5em;
}
.row > img{
	width: 33%;
}
.temas>.row{
	padding: 2% 10%;
}
.md-3{
	display: inline-block;
	width: 20%;
}
.novedades{
	clip-path: polygon(100% 1%, 100% 25%, 100% 100%, 0 100%, 0% 75%, 0% 25%);
	padding: 10% 0;
	text-align: center;
}
.redes > span{
	margin: 0 0.5em;
}

@media (min-width: 700px) { 
	/*.logo{
		width: 50%;
	}
	.logo img{
		width: 10%;
	}
	.menu ul{
		display: none;
	}
	.menu span{
		font-size: 4em;
	}*/
	.nav{
		display: none;
	}
	.topnav {
	  	position: relative;
	}

	/* Hide the links inside the navigation menu (except for logo/home) */
	.topnav #myLinks {
	  	display: none;
	  	background: #0000EC;
	}

	/* Style navigation menu links */
	.topnav a {
	  	padding: 14px 16px;
	  	text-decoration: none;
	  	font-size: 17px;
	  	display: block;
	  	color: white;
	}

	/* Style the hamburger menu */
	.topnav a.icon {
	  	display: block;
	  	position: absolute;
	  	right: 0;
	  	top: 0;
		color: black;
	}

	/* Add a grey background color on mouse-over */
	/*.topnav a:hover {
	  color: black;
	}*/
	.title{
		padding: 2em;
	}
	h1{
		font-size: 9em;
	}
	.title > p{
		font-size: 2em;
		width: 100%;
	}
	.title a, .novedades a {
		width: -webkit-fill-available;
	    margin: 1em;
	    text-align: center;
	    font-size: 3em;
	}
	.episodios{
		clip-path: polygon(100% 0%, 100% 5%, 100% 95%, 0 100%, 0% 95%, 0% 5%);
    	padding: 10% 0 25%;
	}
	.episodios h3, .novedades h3{
		font-size: 5em;
    	padding: .1em 1em;
	}
	.md-6{
		display: block;
    	width: 100%;
	}
	.qsomos{
		padding: 0;
	}
	.qsomos div{
		height: auto;
	    width: 100%;
	    position: relative;
	    top: -10em;
	    padding: 4em;
	}
	.img-phone img{
		width: 100%;
    	height: 100%;
	    top: 0em;
	}
	.text-qsomos h3, .invitados h3, .temas h3{
		font-size: 8em;
		margin: 0;
	}
	.text-qsomos p{
		font-size: 4em;
	}
	.invitados h3, .temas h3{
		padding: 0 0.5em;
	}
	.row img{
		width: 100%;
	}
	.md-3{
		display: block;
    	width: 100%;
	}
	.md-3 p{
		text-align: center;
    	font-size: 5em;
	}
	.novedades{
		clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
	}
	footer{
		/*padding: 2em;*/
    	font-size: 2em;
	}
	.copyright, .redes{
		display: block;
		text-align: center;
		float: none;
		margin: 1.5em;
	}
}